
  <mat-toolbar color="primary">

    <a mat-button routerLink="/signIn">SignIn</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/users">Users</a>
    <a mat-button routerLink="/admin">Admin</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>